/*!
 * Ext JS Library 3.2.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
#x-debug-browser .x-tree .x-tree-node a span {
    padding-top: 2px;
    line-height: 18px;
}

#x-debug-browser .x-tool-toggle {
    background-position: 0 -75px;
}

#x-debug-browser .x-tool-toggle-over {
    background-position: -15px -75px;
}

#x-debug-browser.x-panel-collapsed .x-tool-toggle {
    background-position: 0 -60px;
}

#x-debug-browser.x-panel-collapsed .x-tool-toggle-over {
    background-position: -15px -60px;
}