@CHARSET "UTF-8";
/* loading mask */

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2px;
    z-index: 20001;
    height: auto;
    margin: -35px 0 0 -30px;
}

#loading .loading-indicator {
    background: url(../icons/loading.gif) no-repeat;
    color: #555;
    font: bold 13px tahoma, arial, helvetica;
    padding: 8px 42px;
    margin: 0;
    text-align: center;
    height: auto;
}

.icon-asterisk {
    background-image: url('../icons/asterisk_orange.png') !important;
}

.icon-add {
    background-image: url('../icons/add.png') !important;
}

.icon-remove {
    background-image: url('../icons/delete.png') !important;
}

.icon-refresh {
    background-image: url('../icons/arrow_refresh.png') !important;
}

.icon-exit {
    background-image: url('../icons/disconnect.png') !important;
}

.icon-context {
    background-image: url('../icons/telephone_go.png') !important;
}